# Ignore node modules in theme
dev/wha-block-theme/node_modules/

# Ignore mysql
mysql/*

#except usded DB
!mysql/MYSQL_DATABASE

.idea
.DS_Store
dev/wha-block-theme/.DS_Store
dev/wha-block-theme/styles/theme.css
dev/wha-block-theme/styles/theme.css.map
